html,
body {
  height: 100%;
  margin: 0;
}

html {
  background-color: aliceblue;
}

.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  background-color: rgb(26, 25, 25);
  width: 90%;
  max-width: 400px;
  padding: 25px 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0 50px; /* Add margin to center the container */
}

.topBar {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.cityInput {
  border-radius: 50px;
  padding: 10px;
  font-size: 20px;
  background-color: #ebfffc;
  border: none;
  outline: none;
  width: 70%;
}

.searchIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  padding: 15px;
  background-color: #ebfffc;
  border-radius: 50%;
  cursor: pointer;
}

.weathertemp {
  display: flex;
  justify-content: center;
  font-size: 5vw; /* Adjust font size for responsiveness */
  font-weight: 400;
  color: white;
  margin-top: 20px;
}

.weatherlocation {
  display: flex;
  justify-content: center;
  font-size: 2.5vw; /* Adjust font size for responsiveness */
  margin-top: 20px;
  color: white;
}

.icon {
  height: fit-content;
  width: fit-content;
}

.datacontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px; /* Adjust gap for responsiveness */
  margin-top: 30px;
  color: white;
}

.element {
  display: flex;
  align-items: center;
  gap: 10px;
}

.data {
  margin-left: 0;
  text-align: center;
}
